<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>OKADAProject</display-name>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>Thread.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>addthread</servlet-name>
		<servlet-class>add.AddThreadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addthread</servlet-name>
		<url-pattern>/addthread</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ThreadTitle</servlet-name>
		<servlet-class>Thread.ThreadTitleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ThreadTitle</servlet-name>
		<url-pattern>/ThreadTitle</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchThread</servlet-name>
		<servlet-class>Thread.SearchThreadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchThread</servlet-name>
		<url-pattern>/SearchThread</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Ress</servlet-name>
		<servlet-class>ress.RessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ress</servlet-name>
		<url-pattern>/Ress</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NewThread</servlet-name>
		<servlet-class>NewThread.NewThreadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewThread</servlet-name>
		<url-pattern>/NewThread</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>select</servlet-name>
		<servlet-class>tera.select</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>select</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>selectress</servlet-name>
		<servlet-class>tera.selectress</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>selectress</servlet-name>
		<url-pattern>/selectress</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>selectress2</servlet-name>
		<servlet-class>tera.Selectress2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>selectress2</servlet-name>
		<url-pattern>/selectress2</url-pattern>
	</servlet-mapping>
</web-app>