<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>OKADAProject</display-name>

  	<servlet>
		<servlet-name>ThreadTitle</servlet-name>
		<servlet-class>Thread.ThreadTitleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ThreadTitle</servlet-name>
		<url-pattern>/ThreadTitle</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Ress</servlet-name>
		<servlet-class>ress.RessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ress</servlet-name>
		<url-pattern>/ress</url-pattern>
	</servlet-mapping>


</web-app>